* {
    margin: 0px;
    padding: 0px;
}
.header__container {
    display: flex;
    justify-content: space-evenly;
}
.header__nav {
    align-self: center;
}
.header {
    display: grid;
    grid-row: 1;
    position: top;
    grid-template-columns: 2fr 1fr;
    z-index: 150;
    width: 100vw;
}
.footer {
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    bottom: 0;
    position: fixed;
    z-index: 150;
    _position: absolute;
    width: 98%;
}
.footer__container {
    display: flex;
    justify-content: space-evenly; 
}
.footer__copyright {
    text-align: right;
    margin-right: 2em;
    padding-top: 10px;
}
.about__mission {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}
.category__business--img, .index__spot-light--img {
    max-height: 150px;
    max-width: 150px;
}
.logo{
    max-height: 150px;
    max-width: 150px;   
}
.contact__item img {
    max-height: 200px;
    max-width: 200px;
}
.category__business--title, .contact__title, .team__title, .index__category--title, .index__spot-light--title, .individual-store__title {
    margin: 2em;
}
<<<<<<< HEAD
=======
.individual-store__main {
    margin: 3rem;
    column-gap: 20px;
}
.individual-store__title {
    margin-bottom: 2rem;
}
>>>>>>> dev
.category__business--container-list, .contact__container, .team__ul_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 3rem;
}
.category__business--list-item {
    padding: 1rem;
}
.header__nav li, .footer__nav li {
    padding: .5em;
    border-radius: 15%;
}
.individual-store__img {
    max-width: 400px;
}
.individual-store__gridContainer {
    display: grid;
<<<<<<< HEAD
=======
    /* background-color: aqua; */
    max-height: 75%;
>>>>>>> dev
    grid-template-columns: 1fr 3fr;
}
.individual-store__product_list_container {
    display: flex;
}
.individual-store__item,.individual-store__info-item {
    padding: .5em;
}
.individual-store__info-item a {
    padding: .5em;
}
.suggestion__div, #portal-page, #new-user-page, #update-user-login {
    border-radius: 5px;
    max-width: 40%;
    padding: 2em;
    margin: 2em;
}
.index__circle_container {
    position: relative;
    width: 24em;
    height: 24em;
    padding: 2.8em;
    border-radius: 50%;
    margin: 1.75em auto 0;
}
.index__circle_container a {
    display: block;
    position: absolute;
    top: 70%;
    left: 50%;
    width: 6em;
    height: 6em;
    margin: -4em;
}
.index__circle_container a {
    display: block;
    width: 100%;
}
.deg0 {
    transform: translate(17em);
}
.deg45 {
    transform: rotate(45deg) translate(17em) rotate(-45deg);
}
.deg90 {
    transform: rotate(90deg) translate(17em) rotate(-90deg);
}
.deg135 {
    transform: rotate(135deg) translate(17em) rotate(-135deg);
}
.deg180 {
    transform: translate(-17em);
}
.deg225 {
    transform: rotate(225deg) translate(17em) rotate(-225deg);
}
.deg270 {
    transform: rotate(270deg) translate(17em) rotate(-270deg);
}
.deg315 {
    transform: rotate(315deg) translate(17em) rotate(-315deg);
}
.index__spot-light--container ul {
    display: grid;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.index__circle_container img {
    min-width: 9em;
    max-width: 9em;
    min-height: 9em;
    max-height: 9em;
    border-radius: 50%;
}
.suggestion__div input, .suggestion__div select {
    display: grid;
}
input[type="text"], select {
    width: 40em;
}
.business__owner_container {
    margin: 8em;
}
.business__owner_container input[type="text"] {
    display: flex;
    justify-content: space-evenly;
    width: 25em;
    font-size: large;
}
.index__category--title {
    margin-bottom: 7em;
}
.index__spot-light {
    margin: 13em 0 10em;
}
input[type="text"], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 10px;
    box-sizing: border-box;
}
 @media only screen and (max-width: 768px) {
    .index__spot-light--container ul {
        display: grid;
        grid-row: 1;
        grid-template-columns: 1fr 1fr 1fr;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
} 
@media only screen and (max-width: 500px) {
    .header {
        display: block;
        position: top;
        z-index: 150;
        width: 100vw;
    }
} 
.hidden {
    display: none;
}