*{
margin: 0px;
padding: 0px;
}

.header__container{
    display: flex;
    justify-content: space-evenly;
}
.header__nav{
    align-self: center;
}
.header{
    padding: 2em;
    display: grid;
    grid-row: 1;
    grid-template-columns: 2fr 1fr;
}
.footer{
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    bottom:0;
    position:fixed;
    z-index:150;
    _position:absolute;
    width: 98%;
}
.footer__nav{
   align-self: center; 
}
.footer__container{
    display: flex;
    justify-content: space-evenly;
}

.footer__copyright{ 
    text-align: right;
}

.about__mission {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 3rem;
}

.about__mission--paragraph {
    text-align: center;
}

.category__business--img {
    max-height: 150px;
    max-width: 150px;
}
.index__spot-light--img{
    max-height: 150px;
    max-width: 150px;
}
.category__business--title {
    margin: 2rem;
}
.category__business--container-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 3rem;
}
.category__business--list-item {
    padding: 1rem;
}