* {
  margin: 0px;
  padding: 0px;
}

.header__container {
  display: flex;
  justify-content: space-evenly;
}
.header__nav {
  align-self: center;

}
.header {
  display: grid;
  grid-row: 1;
  position: top;
  grid-template-columns: 2fr 1fr;
  z-index: 150;
  width: 100vw;
}

.footer {
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  bottom: 0;
  position: fixed;
  z-index: 150;
  _position: absolute;
  width: 98%;
}
.footer__nav {
  align-self: center;
}
.footer__container {
  display: flex;
  justify-content: space-evenly;
}

.footer__copyright {
  text-align: right;
}

.about__mission {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 3rem;
}

.about__mission--paragraph {
  text-align: center;
}

.category__business--img {
  max-height: 150px;
  max-width: 150px;
}
.index__spot-light--img {
  max-height: 100px;
  max-width: 100px;
}
.contact__item img {
  max-height: 200px;
  max-width: 200px;
}
.category__business--title,
.contact__title,
.team__title,
.index__category--title,
.index__spot-light--title {
  margin: 2em;
}

.individual-store__main {
  margin: 3rem;
}
.individual-store__title {
  margin-bottom: 2rem;
}
.category__business--container-list,
.contact__container,
.team__ul_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 3rem;
}
.contact__container :nth-child(1) {
  align-self: center;
}
.category__business--list-item {
  padding: 1rem;
}
.individual-store__img {
  max-width: 400px;
  border: 5px;
  border: solid black;
}

.invidual-store__gridContainer {
  display: grid;
  /* background-color: aqua; */
  grid-template-columns: 1fr 3fr;
}

.individual-store__product_list_container {
  display: flex;
}
.individual-store__item,
.individual-store__info-item {
  padding: 1em;
}
.individual-store__info-item a {
  padding: 1em;
}

/* .individual-store__product_list_container li{
    padding:1em;
} */

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.suggestion__div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.index__circle_container {
  position: relative;
  width: 24em;
  height: 24em;
  padding: 2.8em;
  border-radius: 50%;
  margin: 1.75em auto 0;
}
.index__circle_container a {
  display: block;
  /* overflow: hidden; */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6em;
  height: 6em;
  margin: -4em;
}
.index__circle_container a {
  display: block;
  width: 100%;
}
.deg0 {
  transform: translate(20em);
}
.deg45 {
  transform: rotate(45deg) translate(20em) rotate(-45deg);
}
.deg90 {
  transform: rotate(90deg) translate(20em) rotate(-90deg);
}
.deg135 {
  transform: rotate(135deg) translate(20em) rotate(-135deg);
}
.deg180 {
  transform: translate(-20em);
}
.deg225 {
  transform: rotate(225deg) translate(20em) rotate(-225deg);
}
.deg270 {
  transform: rotate(270deg) translate(20em) rotate(-270deg);
}
.deg315 {
  transform: rotate(315deg) translate(20em) rotate(-315deg);
}

.index__spot-light--container ul {
  display: grid;
  grid-row: 1;
  grid-template-columns: 1fr 1fr 1fr;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.index__circle_container img {
  min-width: 8em;
  max-width: 8em;
  min-height: 8em;
  max-height: 8em;
  border-radius: 50%;
  border: solid burlywood 5px;
}
 .center img{ 
    min-width: 12em;
    max-width: 12em;
    border-radius: 0px;
}

.user-update-log-in__section,
.new-user-form__container {
  padding: 2em;
  margin-bottom: 5em;
  display: grid;
  grid-template-rows: 1;
}

input[type="text"],
select {
  width: 40em;
}

.business__owner_container {
  display: flex;
  justify-content: space-evenly;
  margin: 8em;
}

.business__owner_container a {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 3em;
  margin: 1em;
  max-width: 9em;
  color: black; 
  background-color:bisque ;

}
.business__owner_container input[type="text"]{
    display: flex;
    justify-content: space-evenly;
}
.business_list-item {
  text-align: center;
  align-items: flex-start;
}
.index__category--title {
  margin-bottom: 7em;
}
.index__spot-light {
  margin: 13em 0 10em;
}
.business__owner_container input[type="text"]{
  display: flex;
  justify-content: space-evenly;
}
.business_list-item {
text-align: center;
align-items: flex-start;
}

.index__single-category--name {
}

@media only screen and (max-width: 768px){
    .index__spot-light--container ul {
      /*display: grid;
      grid-row: 1;
      grid-template-columns: 1fr 1fr 1fr;*/
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
}    
@media only screen and (max-width: 500px){
.header {
    display: block;
    position: top;
    z-index: 150;
    width: 100vw;
  }}