*{
margin: 0px;
padding: 0px;
}

.header__container{
    display: flex;
    justify-content: space-evenly;
}
.header__nav{
    align-self: center;
}
.header{
    padding: 2em;
    display: grid;
    grid-row: 1;
    grid-template-columns: 2fr 1fr;
}
.footer__nav{
   align-self: center; 
}
.footer__container{
    display: flex;
    justify-content: space-evenly;
}
.footer{
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr; 
}
.footer__copyright{ 
    text-align: right;
}

.about__mission {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.about__mission--paragraph {
    text-align: center;
}