@import url(https://fonts.googleapis.com/css2?family=Andika&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Federo&display=swap);
* {
    list-style: none;
}
:root {
    --color-1: #011627;
    --color-2: #dddddd;
    --color-3: #2ec4b58c;
    --color-4: #F6F7F8;
}
a {
    text-decoration: none;
    color: var(--color-4);
}
input, button{
    padding: 5px;
    border-radius: 5px;
}
* body {
    font-family: Andika, "sans-serif";
}
html {
    background-color: var(--color-4);
}
.logo{
    opacity: 80%;
}
.suggestion__h3-title, .new-user-form__title, .user-update-log-in__title{
    text-align: center;
}
.team__item a{
    color: var(--color-1);
}
.header, .footer {
    color: var(--color-4);
    background-color: var(--color-1);
}
.category__business--company-name {
    font-size: small;
    font-weight: normal;
    text-align: center;
}
.header__nav li {
    color: var(--color-4);
    overflow: hidden;
}
.footer__nav li:hover, .header__nav li:hover {
    background-color: var(--color-3);
    opacity: 50%;
}
.team__title, .contact__title, .category__business--title, .about__mission--title, .individual-store__title, .index__spot-light--title {
    font-size: x-large;
}
.individual-store__info-item a {
    color: var(--color-1);
}
.index__spot-light--company-name {
    font-size: smaller; 

}
.index__single-category--name {
    color: var(--color-1);
    font-size: .75rem;
    }
.category__business--list-item a {
    color: var(--color-1);
}
.suggestion__div, #portal-page, #new-user-page, #update-user-login {
    background-color: var(--color-3);
    color: var(--color-1);

}
::placeholder {
    color: var(--color-1);
}

.category__business--list-item a {
    color: var(--color-1);
}
#suggestion-button {
    color: var(--color-1);
}