@import url(https://fonts.googleapis.com/css2?family=Andika&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Federo&display=swap);
* {
    list-style: none;
}
:root {
    --color-1: #011627;
    --color-2: #FF3366;
    --color-3: #2EC4B6;
    --color-4: #F6F7F8;
    --color-5: #20A4F3;
}
a {
    text-decoration: none;
    color: white;
}
* body {
    font-family: Andika, "sans-serif";
    font-size: 20px;
}
html {
    background-image: linear-gradient(
            to left,
            rgba(255, 0, 0, 0),
            rgba(155, 0, 0, 0.1)
    );
}
.header {
    color: white;
    background-color: var(--color-1);
}
.footer {
    color: white;
    background-color: var(--color-1);
}
.header__logo {
    font-family: Federo, "sans serif";
    padding: auto;
}
.footer a {
    padding: 1em;
    border-radius: 15%;
    color: white;
    overflow: hidden;
}
.header__nav li {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    border: 2px solid var(--color-3);
    border-radius: 15%;
    color: white;
    overflow: hidden;
}
.footer a:hover, .header__nav li:hover {
    background-color: var(--color-3);
    padding: 1em;
    color: white;
}
.contact__title, .category__business--title, .about__mission--title, .individual-store__title,.index__category--title, .index__spot-light--title {
    font-size: 30pt;
}
.individual-store__info-item a {
    color: black;
    border: 2px solid var(--color-3);
}
.index__category--item a {
    background-color: var(--color-3);
    margin: 5px;
    border-radius: 50%;
    padding: 50px;
    color: white;
}
.index__category--container a {
    display: grid;
    grid-row: 2 / 4;
    margin: 10em;
}
.index__single-category--name {
    color: blue;
}
.category__business--list-item a {
    color: black;
}