@import url(https://fonts.googleapis.com/css2?family=Andika&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Federo&display=swap);
* {
    list-style: none;
}
:root {
    --color-1: #011627;
    --color-2: #FF3366;
    --color-3: #2EC4B6;
    --color-4: #F6F7F8;
    --color-5: #20A4F3;
}
a {
    text-decoration: none;
    color: var(--color-4);
}
* body {
    font-family: Andika, "sans-serif";
}
html {
    /* background-image: linear-gradient(
            to left,
            F6F7F8,
            20A4F3
    ); */
    background-color: var(--color-4);
}
.suggestion__h3-title{
    text-align: center;
}
.team__item a{
    color: var(--color-1);
}
.header, .footer {
    color: var(--color-4);
    background-color: var(--color-5);
}
.header__nav li {
    border: 2px solid var(--color-4);
    color: var(--color-4);
    overflow: hidden;
}
.footer__nav li:hover, .header__nav li:hover {
    background-color: var(--color-3);
    padding: 1em;
    color: var(--color-4);
}

.contact__title, .category__business--title, .about__mission--title, .individual-store__title, .index__spot-light--title {
    font-size: 30pt;
}
.individual-store__info-item a {
    color: var(--color-1);
    border: 2px solid var(--color-2);
    border-radius: 10%;
}
.index__spot-light--company-name {
    font-size: smaller; 

}
.index__single-category--name {
    color: var(--color-3);
    font-size: .75rem;
    }
.category__business--list-item a {
    color: var(--color-1);
}
.suggestion__div, #portal-page, #new-user-page, #update-user-login {
    background-color: var(--color-3);
    color: var(--color-4);
    border: 2px;
    border-style: solid;
    border-color: var(--color-2);
}
input[type="text"], select {
    border: 1px solid var(--color-2);
}
.category__business--list-item a {
    color: var(--color-1);
}

.team__item img {
    max-width: 200px;
    max-height: 200px;
}

#suggestion-button {
    color: var(--color-1);
}