<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/layout.css" />
</head>
<body class="main">

<a th:each="category: ${category}" ></a>

<a href='th:href="@{'/category/'+${category.id}}' class='deg0 id4'><img src=th:each="category: ${category.image}" ><h4 class="index__single-category--name">${category.name}</h4></a> <a href='th:href="@{'/category/'+${category.id}}' class='deg45'><img src='../images/GasStation.jpg'><h4 class="index__single-category--name">Gas Station</h4></a>
  <a href='th:href="@{'/category/'+${category.id}}' class='deg90 id2'><img src='../images/Apparel.png'><h4 class="index__single-category--name">Apparel</h4></a>
   <a href='./categories.html' class='deg135 id5'><img src='../images/GroceryStore.png'><h4 class="index__single-category--name">Grocery Store</h4></a>
   <a href='./categories.html' class='deg180 id8'><img src='../images/Association.png'><h4 class="index__single-category--name">Association</h4></a>
   <a href='./categories.html' class='deg225 id3'><img src='../images/ConsumerServices.png'><h4 class="index__single-category--name">Consumer Services</h4></a>
   <a href='./categories.html' class='deg270 id7'><img src='../images/Lodging.png'><h4 class="index__single-category--name">Lodging</h4></a>
   <a class='deg315 id1'><img src='../images/Food.png'><h4 class="index__single-category--name">Food</h4></a>
